body{
margin:0;
font-family:Segoe UI;
background:black;
color:white;
overflow:hidden;
}

.scene{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:radial-gradient(circle,#ff2a68,#000);
animation:fade 2s;
}

@keyframes fade{
from{opacity:0;}
to{opacity:1;}
}

.glow{
font-size:50px;
text-shadow:0 0 25px pink;
}

.hero{
width:280px;
border-radius:30px;
box-shadow:0 0 40px red;
animation:float 4s infinite;
}

@keyframes float{
50%{transform:translateY(-15px);}
}

button{
padding:14px 35px;
border:none;
border-radius:30px;
background:#ff0055;
color:white;
font-size:18px;
margin:10px;
cursor:pointer;
}

.flowers img{
width:200px;
margin:20px;
border-radius:25px;
box-shadow:0 0 30px pink;
transition:.3s;
cursor:pointer;
}

.flowers img:hover{
transform:scale(1.1);
}

.card{
display:none;
background:rgba(255,255,255,.15);
padding:30px;
border-radius:25px;
margin:20px;
font-size:22px;
box-shadow:0 0 25px pink;
max-width:600px;
}

